<%- include("partials/header") -%>

<section class="web-container" id="navigation">
  <div class="navigation">
    <h1>WEBgraph</h1>
    <div class="nav-links">
        <a class="nav-link" href="/">Home</a>
        <div class="vertical"></div>
        <a class="nav-link" href="web">Web-Dev</a>
        <div class="vertical"></div>
        <a class="nav-link" href="design">Designs</a>
    </div>
   </div>
</section>
<section class="main-content">
  <div class="main-margin main-margin-1"></div>
    <h1 class="main-cont-head">Graphic - Designing</h1>
    <div class="main-margin main-margin-2 design-margin-1"></div>
    <div class="cont-main-1">
    <h3 class="sub-head-1 log-1">Newlet Times</h3>
    <div class="main-vert-1 logo-vert-1"></div>
    <img class="image-content cont-image-1 logo-img-1" src="images/Newlet-3.png" alt="newlet times">
    </div>
    <hr class="first-mar logo-mar-1">
    <div class="cont-main-2">
        <h3 class="sub-head-2 logo-main-2">VD Tattoos</h3>
        <div class="main-vert-2 logo-vert-2"></div>
      <img class="image-content logo-img-2" src="images/vd.png" alt="vd">
    </div>
    <hr class="logo-mar-2">
    <div class="cont-main-1">
    <h3 class="sub-head-1 log-1">Brand Poster</h3>
    <div class="main-vert-1 logo-vert-3"></div>
    <img class="image-content logo-image-3" src="images/poster.jpg" alt="newlet times">
    </div>
      <hr class="first-mar logo-mar-3">
  </section>
  <section class="bottom-sec">
    <div class="ct-links">
      <a class="icon-bot main-bot-cot des-bot" href="#navigation"><i class="fas fa-arrow-up"></i></a>
      <a href="mailto:suranjanbiswas2002@gmail.com">email</a>
      <a href="https://twitter.com/SBgraph">twitter</a>
      <a href=" https://dribbble.com/SWEBgraph">dribbble</a>
    </div>
    <div class="copy">
      All rights reserved &copy; WEByeah corp.
    </div>
  </section>
<%- include("partials/footer") -%>
