<%- include("partials/header") -%>

<section class="top-container" id="navigation">
  <div class="navigation">
    <h1>WEBgraph</h1>
    <div class="nav-links">
        <a class="nav-link" href="/">Home</a>
        <div class="vertical"></div>
        <a class="nav-link" href="web">Web-Dev</a>
        <div class="vertical"></div>
        <a class="nav-link" href="design">Designs</a>
    </div>
   </div>
  <div class="heading">
    <h1>Hello! there</h1>
  </div>
  <div class="heading-about">
    <hr class="head-margin">
      <div class="head-vertical"></div>
    <p>I am Suranjan ( you can also call me Sam ) and welcome to my homepage.<br> This is a place where you'll have a chance
      to know me better.<br> If you like my work, then you are always welcome<br>
      to reach out to me and we'll surely have a nice journey together.
  </p>
  <h3>Hope to see you soon.</h3>
  </div>
</section>

<section class="middle-container">
  <div class="about">
  <h1 class="about-head">What I do ...</h1>
  <a class="icon" href="#navigation"><i class="fas fa-arrow-up"></i></a>
  <div class="about-margin"></div>
  </div>
  <div class="spec-1">
    <h1 class="spec-head first-head">Web Development</h1>
    <div class="spec1-margin"></div>
    <img class="img first-img" src="https://flintstudios.co.uk/getattachment/6ab1823b-6ba4-4353-98a3-710fc057a5b2/Responsive-Web-Development" alt="graphic-designing">
    <p class="first-para">Scrolling thorough different websites had always been my thing and the thing that mostly intruiged me was the building process of a website.
      So developing website always served as an interesting task for me and this is what I truely enjoy doing. The cheerfulness that every developer possess when a website which they
      developed is running beautifully is amazing and to experience this very feeling I involved myself in this field. In one word web development can be described as
      "supercalifragilisticexpialidocious", according to me.
    </p>
  </div>
  <div class="spec2">
    <h1 class="spec-head second-head">Graphic designing</h1>
    <div class="spec2-margin"></div>
    <img class="img second-img" src="https://i.pinimg.com/originals/62/20/f1/6220f19d6c67587d5714ff5a2d5994e8.gif" alt="graphic-designing">
    <p class="second-para">Along with web dev, I also gathered interest in designs and different layouts and to be honest we first get attracted towards a website
      based on it's designs and it's layout because in this website field we surely "Judge a book by it's cover". Gathering ideas from a person and transforming
      it into a beautiful visual art is surely lovely and this is what I solely stand for when doing any designs. I can firmly promise you that, I will try my best to transform your ideas into a beautiful visual that
      everybody will admire. Also, talking about my web-dev process, the layouts and designs of all my websites conatains a whole lot of designed ingredients.
  </p>
  </div>
</section>

<section class="bottom-container">
  <div class="bottom">
    <h3 class="base-head">Want to know more ?</h3>
    <a class="icon-bot" href="#navigation"><i class="fas fa-arrow-up"></i></a>
    <div class="base-margin"></div>
    <p class="base-para">For more clarity you can surely look at some of my works and when you are ready let's have some conversations together about your ideas and let's make it a reality.</p>
  <hr>
  <div class="ct-links">
    <a href="mailto:suranjanbiswas2002@gmail.com">email</a>
    <a href="">twitter</a>
    <a href="">dribbble</a>
  </div>
  <div class="copyright">
    All rights reserved &copy; WEByeah corp.
  </div>
    </div>
</section>

<%- include("partials/footer") -%>
