<%- include("partials/header") -%>

<section class="web-container" id="navigation">
  <div class="navigation">
    <h1>WEBgraph</h1>
    <div class="nav-links">
        <a class="nav-link" href="/">Home</a>
        <div class="vertical"></div>
        <a class="nav-link" href="web">Web-Dev</a>
        <div class="vertical"></div>
        <a class="nav-link" href="design">Designs</a>
    </div>
   </div>
</section>
<section class="main-content">
  <div class="main-margin main-margin-1"></div>
    <h1 class="main-cont-head">Web - Development</h1>
    <div class="main-margin main-margin-2"></div>
  <div class="cont-main-1">
    <h3 class="sub-head-1">Newlet Times</h3>
    <div class="main-vert-1"></div>
  <img class="image-content cont-image-1" src="images/newlet.png" alt="newlet times">
  <p class="main-para-1">Newlet Times is a media site. This site was created and designed by me with the idea to portray
    a site that is not only beautiful but also believes in giving the accurate informations to it's readers. This is a single
    page responsive website and it's layout is based on some designing ideas.
  </p>
  <a class="first-link" href="https://intense-escarpment-22212.herokuapp.com/">Newlet Times </a>
  </div>
  <hr class="first-mar">
  <div class="cont-main-2">
      <h3 class="sub-head-2">Weather World</h3>
      <div class="main-vert-2"></div>
    <img class="image-content cont-image-2" src="images/weather.png" alt="weather">
    <p class="main-para-2">Weather site is a website built using the openweathermap api. It displays the temp, weather
      condition of a particular place. I hope that you'll like it. Enjoy!.
    </p>
    <a class="second-link" href="https://protected-cove-72735.herokuapp.com/">Weather World </a>
  </div>
  <hr class="second-mar">
</section>
<section class="bot-cot">
  <div class="ct-links">
    <a class="icon-bot main-bot-cot" href="#navigation"><i class="fas fa-arrow-up"></i></a>
    <a href="mailto:suranjanbiswas2002@gmail.com">email</a>
    <a href="https://www.twitter.com">twitter</a>
    <a href="https://www.dribbble.com">dribbble</a>
  </div>
  <div class="copy">
    All rights reserved &copy; WEByeah corp.
  </div>
</section>
<%- include("partials/footer") -%>
